.buttonHeading {
    text-align: center;
    background-color: pink;
    color:purple;
    padding: 7px;
    font-size: 36px;
    margin-bottom: 15px;
}
.button{
    color: white;
    background-color: palevioletred;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid white;
}
.button:hover {
    background-color: powderblue;
}